<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Account</key>
	<data>
	</data>
	<key>Adapter</key>
	<string></string>
	<key>AutoLogin</key>
	<integer>0</integer>
	<key>Password</key>
	<data>
	</data>
	<key>SavePassword</key>
	<integer>1</integer>
</dict>
</plist>
